<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>パスワード情報・変更フォーム</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div>
    <header th:replace="~{fragments/header::header}"></header>
  </div>

  <div class="sidebar" th:replace="~{fragments/sidebar::sidebar}"></div>

  <div class="main-container">
    <div class="back-indicator">
      <a th:href="@{/mypage}">
        <img th:src="@{/image/back-icon.svg}" alt="戻る">
        <span>戻る</span>
      </a>
    </div>

    <form id="passwordForm" class="form-group"
          th:action="@{/mypage/change_password}"
          th:object="${passwordDto}" method="post">

      <div class="form-title">パスワード情報・変更</div>

      <div class="notice-area">
        <div class="notice-message">
          <p th:text="#{password.change.notice1}"></p>
          <p th:text="#{password.change.notice2}"></p>
        </div>
      </div>

      <table class="input-table">
        <tr>
          <th scope="row" class="input-row-th">現在のパスワード</th>
          <td class="blank-cell"></td>
          <td>
            <input type="password" class="input-area"
                   th:field="*{currentPassword}"
                   th:placeholder="#{currentPassword.placeholder}" required/>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>
            <div class="error-message"
                 th:if="${#fields.hasErrors('currentPassword')}"
                 th:errors="*{currentPassword}"></div>
          </td>
        </tr>
        <tr class="blank-row"></tr>
        <tr>
          <th scope="row" class="input-row-th">新しいパスワード</th>
          <td class="blank-cell"></td>
          <td>
            <input type="password" class="input-area"
                   th:field="*{password}"
                   th:placeholder="#{password.placeholder}" required/>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>
            <div class="error-message"
                 th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"></div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="input-hint"
              th:text="#{password.input.hint1}"></td>
        </tr>
        <tr>
          <td colspan="3" class="input-hint"
              th:text="#{password.input.hint2}"></td>
        </tr>
        <tr class="blank-row"></tr>
        <tr>
          <th scope="row" class="input-row-th">確認用パスワード</th>
          <td class="blank-cell"></td>
          <td>
            <input type="password" class="input-area"
                   th:field="*{confirmPassword}"
                   th:placeholder="#{confirmPassword.placeholder}" required/>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>
            <div class="error-message"
                 th:if="${#fields.hasErrors('confirmPassword')}"
                 th:errors="*{confirmPassword}"></div>
          </td>
        </tr>
      </table>

      <div class="button-area">
        <button type="submit" class="save-button">保存する</button>
      </div>
    </form>

    <script th:inline="javascript">
        /*<![CDATA[*/
            const changeConfirmMessage = /*[[#{change.confirm}]]*/;

            document.getElementById("passwordForm")
                .addEventListener("submit", function(e) {

                if(!confirm(changeConfirmMessage)) {
                    e.preventDefault();
                }
            });
        /*]]>*/
    </script>
  </div>
</body>
</html>