<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>アクセスできません</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>

  <body>
    <div>
      <header th:replace="~{fragments/header::header}"></header>
    </div>

    <div class="sidebar" th:replace="~{fragments/sidebar::sidebar}"></div>

    <div class="error-container">
      <h1 th:text="#{access.denied.title}"></h1>
      <p th:text="#{access.denied}"></p>
      <p th:text="#{return.guide}"></p>
      <div class="history-back-button-area">
        <button class="history-back-button"
                onclick="history.back()">ひとつ前のページに戻る</button>
      </div>
    </div>
  </body>
</html>