/* ================
  カスタムプロパティ
================ */

:root {
  --olive: #627962;
  --mint: #BDDDC4;
  --reddish-brown: #664B4F;
  --brown-grey: #9C918B;
  --bordeaux: #AA4D53;
  --ruby-red: #B91655;
  --pink-beige: #DC9F95;
  --cherry-blossom: #F5DDDF;
  --pink-cream: #FFF6EE;
  --cream: #FFFDF6;
  --normal-font-set: Arial, メイリオ, sans-serif;
  --highlight-font-set:
      "Zen Maru Gothic", "Rounded M+ 1c", "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
      "Hiragino Maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", sans-serif;
}


/* ============================
  共通フラグメントのヘッダーの設定
============================ */

/* 全ページ共通ヘッダーバー */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  background-color: var(--olive);
  z-index: 10;
}

/* ログインページのヘッダータイトル */
.header-title {
  position: fixed;
  top: 0;
  width: 100%;
  height: 180px;
  margin: 35px auto;
  font-family: var(--highlight-font-set);
  background-color: var(--pink-beige);
}

.header-title img {
  display: block;
  object-fit: cover;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.title-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 15px auto;
  color: var(--reddish-brown);
  text-align: center;
}

.header-title h1 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.header-title h3 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

/* ==============================
  共通フラグメントのサイドバーの設定
============================== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  margin-top: 35px;
  padding: 0;
  background-color: var(--pink-beige);
  z-index: 9;
}

.sidebar img {
  display: block;
  object-fit: cover;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  padding: 3px;
  font-size: 18px;
  font-weight: bold;
  font-family: var(--highlight-font-set);
  color: var(--reddish-brown);
  text-decoration: none;
  text-align: center;
}

.sidebar-item img{
  width: 15%;
  height: auto;
  margin: 10px;
  padding: 5px;
  background-color: white;
}

.sidebar-item span{
  margin: auto 0;
  text-align: center;
}

.sidebar-item:hover,
.sidebar-item:active,
.sidebar-item.active {
  background: var(--bordeaux);
  color: var(--pink-cream);
}

/* =========================
  ポップアップメッセージの設定
========================= */

.popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 300px;
  padding: 5px;
  background-color: #ECE8E1;
  border-radius: 15px;
  z-index: 100;
  text-align: center;
  animation: popupIn 0.5s ease forwards;
}

@keyframes popupIn {
  0%   { transform: translate(-50%, -50%) scale(0.8); opacity: 0; }
  60%  { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(1); }
}

.popup.hide {
  animation: popupOut 0.5s ease forwards;
}

@keyframes popupOut {
  0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(0.3); opacity: 0; }
}

.outside-border {
  padding: 5px;
  border: 8px solid #c1ab05;
  border-radius: 10px;
}

.inside-border {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 5px;
  border: 3px solid #c1ab05;
  border-radius: 8px;
}

.popup-message {
  display: flex;
  gap: 0;
  align-items: center;
}

.action-text {
  margin: auto 0 auto 10px;
  font-family: var(--highlight-font-set);
  color: var(--reddish-brown);
}

.awesome-word {
  margin: 0;
  font-size: 3em;
  font-family: var(--highlight-font-set);
  text-weight: bold;
  color: var(--bordeaux);
  text-shadow: 1px 2px 3px var(--bordeaux);
}

.awesome-stamp {
  position: relative;
  display: inline-block;
  transform: scale(0);
}

.awesome-stamp.pop {
  animation: stamp-pop 0.5s forwards;
}

@keyframes stamp-pop {
  0%   { transform: scale(0); }
  60%  { transform: scale(3.0); }
  80%  { transform: scale(0.5); }
  100% { transform: scale(1); }
}

.stamp-bg {
  width: 120px;
  height: 120px;
  display: block;
  transform: rotate(10deg);
  filter: drop-shadow(1px 1px 2px var(--ruby-red));
}

.stamp-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--highlight-font-set);
  color: var(--ruby-red);
  text-shadow: 1px 2px 3px var(--ruby-red);
}

/* ========================================
  全体の共通設定
  (body, input, textarea, select, option)
======================================== */

body {
  margin: 0;
  font-family: var(--normal-font-set);
  color: var(--reddish-brown);
  background-color: var(--pink-cream);
}

input, textarea {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 20px;
  font-size: 14px;
  color: var(--reddish-brown);
  background-color: var(--pink-cream);
  border: 1px solid var(--brown-grey);
}

input::placeholder {
  font-size: 12px;
}

textarea::placeholder {
  font-size: 12px;
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  background-color: white;
  border:1px solid var(--brown-grey);
  border-radius: 10px;
}

select {
  padding: 13px 20px;
  font-family: var(--normal-font-set);
  background-color: var(--pink-cream);
  border:1px solid var(--brown-grey) !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

option {
  font-size: 14px;
  color: var(--reddish-brown);
  cursor: pointer;
}

option:checked {
  background-color: var(--pink-beige);
}

option:hover,
option:focus-visible {
  background-color: var(--cherry-blossom);
  outline: none;
}

/* ==========================
  入力フォーム・テーブル関連設定
========================== */

/* 共通フォーム */
.form-group {
  box-sizing: border-box;
  width: 100%;
}

.form-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--reddish-brown);
}

.form-border {
  margin: 30px auto;
  border: 1px solid var(--reddish-brown);
}

/* 共通インプットエリア */
.input-area {
  min-height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-hint {
  padding-left: 15px;
  font-size: 12px;
}

/* できたこと、目標、記事ストック編集ページ用（textarea） */
.input-done-memo-area,
.input-goal-content-area,
.input-article-memo-area {
  height: 100px;
  margin-top: 1px;
  padding-top: 10px;
  font-family: var(--normal-font-set);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 目標編集ページ、記事ストック編集ページ用*/
.select-goal-status,
.select-article-status {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
}

/* ============
  テーブル設定
============ */

/* 共通テーブル */
table th {
  background-color: var(--cherry-blossom);
  border: 1px solid var(--brown-grey);
}

.inner-title {
  text-align: center;
  margin: 15px auto;
  font-size: 18px;
  font-weight: bold;
  color: var(--reddish-brown);
}

/* 入力用テーブル共通設定 */
.input-table, .variable-input-table {
  box-sizing: border-box;
  width: 100%;
  overflow-wrap: anywhere;
  padding-top: 10px;
  font-size: 14px;
}

/* 共通テーブル */
.input-table {
  table-layout: fixed;
  padding-bottom: 15px;
  margin: 30px auto;
}

.input-row-th {
  box-sizing: border-box;
  width: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-col-th {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.error-message-td {
  width: 90px;
}

.blank-cell {
  width: 15px;
}

.blank-row {
  height: 10px;
}

/* やること編集ページ、できたこと編集ページ用 */
.variable-input-table {
  margin: 30px auto 0;
}

.task-th {
  box-sizing: border-box;
  width: 90px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* できたこと編集ページ用 */
.border-row {
  height: 50px;
}

/* 閲覧用テーブル共通設定 */
.view-table,
.done-view-table, .hours-table {
  box-sizing: border-box;
  width: 100%;
  overflow-wrap: anywhere;
  font-size: 14px;
  background-color: var(--cream);
  border-collapse: collapse;
  border: 1px solid var(--brown-grey);
}

.view-table td, .done-view-table td {
  padding: 5px 20px;
  border: 1px solid var(--brown-grey);
}

/* 共通テーブル */
.view-table {
  table-layout: fixed;
  margin: 0 auto 30px;
}

.view-row-th {
  box-sizing: border-box;
  width: 130px;
  height: 50px;
}

.view-col-th {
  box-sizing: border-box;
  height: 30px;
}

/* マイページ用 */
.edit-link-td {
  height: 80px;
  text-align: center;
}

/* できたこと閲覧ページ用 */
.done-view-table {
  margin: 0 auto 15px;
}

.hours-table {
  table-layout: fixed;
  margin: 10px auto 20px;
}

.hours-table th {
  width: 300px;
  height: 50px;
}

.hours-table td {
  text-align: center
}

/* やること閲覧ページ用 */
.index-th {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}

/* 目標、メモ、記事ストックの閲覧ページ用 */
.tag-td {
  padding: 5px 15px !important;
}

/* ==================
  メッセージエリア設定
================== */

/* 共通設定 */
.message-area, .task-message-area,
.action-message-area {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

/* やること閲覧ページ、できたこと閲覧ページ用 */
.task-message-area {
  padding-left: 20px;
}

/* 目標ページ、メモページ、記事ストックページ用 */
.action-message-area {
  padding-top: 10px;
  padding-left: 20px;
}

/* 共通設定 */
.failure-message, .failure-hint,
.success-message, .error-message {
  font-size: 12px;
  color: var(--ruby-red);
  margin: 0;
}

.notice-area {
  margin: 20px 0 30px 0;
  border-top: 2px dashed var(--olive);
  border-bottom: 2px dashed var(--olive);
}

.notice-message {
  padding: 5px 20px;
}

.notice-message p {
  font-size: 14px;
  font-weight: bold;
  color: var(--olive);
  margin: 0;
}

/* ==============================
  ボタン、リンクボタン、リンクの設定
============================== */

/* 共通・戻るリンクボタン */
.back-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.back-indicator a {
  text-decoration: none;
  color: inherit;
}

.back-indicator img {
  width: 5%;
}

.back-indicator span {
  text-align: center;
  margin-top: 5px;
}

/* 共通・ボタンエリア、リンクボタンエリア */
.button-area {
  text-align: center;
  margin: 20px auto;
}

.link-button-area {
  text-align: center;
  margin: 35px auto;
}

/* やること、できたことの閲覧ページ
   目標、メモ、記事ストックの詳細ページ用 */
.edit-delete-area {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  margin: 0 15px 0 auto;
}

.edit-link-area, .delete-area  {
  width: 20px;
  height: 20px;
  text-decoration: none;
  margin: 10px;
}

.edit-delete-area img {
  width: 100%;
  height: auto;
}

/* やること編集ページ、できたこと編集ページ用 */
.add-button-area {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

/* 目標、メモ、記事ストックの閲覧ページ用 */
.add-link-button-area {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

/* 記事ストック閲覧ページ用 */
.url-area a {
  color: inherit;
}

/* エラーページ用 */
.history-back-button-area {
  text-align: center;
  margin: 35px 0 30px 0;
}

/* 共通・ボタン、リンクボタン */
.login-button, .register-button,
.save-button, .edit-button,
.history-back-button,
.signup-link, .edit-link,
.learning-time-link {
  cursor: pointer;
  padding: 15px 40px;
  font-weight: bold;
}

.login-button, .register-button,
.save-button, .history-back-button {
  color: var(--reddish-brown);
  background-color: var(--pink-beige);
  border-radius: 10px;
}

.signup-link, .edit-link,
.new-registration-link,
.additional-registration-link,
.learning-time-link {
  font-weight: bold;
  color: var(--pink-cream);
  text-align: center;
  text-decoration: none;
  padding: 15px 40px;
  margin: 10px auto;
  background-color: var(--bordeaux);
  border: 3px solid var(--reddish-brown);
  border-radius: 10px;
}

/* やること、できたことの編集ページ用 */
.add-button, .remove-row-button {
  cursor: pointer;
  padding: 5px 10px;
  color: var(--reddish-brown);
  background-color: var(--cherry-blossom);
  border: 1px solid var(--brown-grey);
  border-radius: 10px;
}

.remove-row-button {
  margin: auto 5px;
}

/* =================================
  閲覧画面のタグ設定（入力画面はTagify）
================================= */

.tag-area {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  text-align: center;
}

.tag-badge {
  box-sizing: border-box;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  white-space: nowrap;
  color: var(--olive);
  background-color: var(--mint);
  border: 1px solid var(--mint);
  border-radius: 20px;
}

/* ============================
  コンテナ・コンテナの子要素の設定
============================ */

/* 共通設定 */
.main-container, .login-container, .error-container {
  width: 500px;
  padding: 30px;
  font-size: 14px;
  background-color: white;
  border: 3px solid var(--reddish-brown);
  border-radius: 30px;
  box-shadow: 10px 10px 10px var(--brown-grey);
}

/* 共通コンテナ */
.main-container {
  margin: 120px auto;
}

/* ログインページ用 */
.login-container {
  margin: 300px auto;
}

.login-container p {
  text-align: center;
  margin: 15px 0;
}

/* エラーページ用 */
.error-container {
  margin: 120px auto;
  padding: 20px 0;
}

.error-container h1 {
  font-family: var(--highlight-font-set);
  text-align: center;
}

.error-container p {
  font-size: 14px;
  margin: 20px 30px;
}

/* メモ用 */
.memo-detail-container {
  width: 800px;
  margin: 120px auto;
  padding: 30px;
  color: var(--reddish-brown);
  background-color: white;
  border: 3px solid var(--reddish-brown);
  border-radius: 30px;
  box-shadow: 10px 10px 10px var(--brown-grey);
}

/* ================
  コンテナ内部の設定
================ */

.empty-content {
  text-align: center;
  font-size: 14px;
}

.empty-content p {
  margin-top: 35px;
}

.content-inner {
  margin-top: 25px;
  padding: 0 20px;
}

.action-content-inner {
  margin-top: 15px;
  padding: 0 20px;
}

.done-memo, .goal-content, .article-memo {
  white-space: pre-line;
  padding: 5px 0;
}

/* ===============================
  ホームページ（メインメニュー）の設定
=============================== */

.home-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items:center;
}

.home-inner {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrapper {
  position: relative;
  width: 40vw;
  margin: 0 auto;
}

.background-img {
  display: block;
  width: 100%;
  height: auto;
}

.menu-icons-grid {
  position: absolute;
  top: 26%;
  left: 12.5%;
  width: 75%;
  height: 40%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.1%;
  row-gap: 15%;
}

.menu-icon {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: var(--pink-beige);
  text-decoration: none;
}

.menu-icon span {
  font-size: clamp(9px, 0.8vw, 16px);
  text-align: center;
}

.menu-icon img {
  width: 75%;
  height: auto;
}

/* ===============
  マイページの設定
=============== */

.mypage-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

/* ================================
  やること、できたことの閲覧ページの設定
================================ */

.task-container {
  width: 560px;
  font-size: 14px;
  margin: 120px auto;
  color: var(--reddish-brown);
}

.date-index {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.date-index a {
  color: inherit;
}

.date-index input {
  width: 150px;
  background-color: white;
  border-radius: 8px;
}

.date-index button {
  font-size: 12px;
  color: var(--pink-cream);
  padding: 1px 6px;
  background-color: var(--bordeaux);
  border-radius: 5px;
}

.task-inner {
  padding: 20px 0;
  background-color: white;
  border: 3px solid var(--reddish-brown);
  border-radius: 30px;
  box-shadow: 10px 10px 10px var(--brown-grey);
}

.date-label {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  background-color: var(--pink-beige);
}

.date-label p {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}

.current-content {
  padding: 0 15px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding-left: 20px;
}

.at-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.at-info p {
  font-size: 12px;
  color: var(--olive);
  margin: 0;
  padding: 0;
}

/* ================================
  やること、できたことの編集ページ設定
================================ */

/* 共通設定 */
.input-date-area {
  width: 150px;
  min-height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.delete-check-td {
  width: 43px;
}

.delete-check-area {
  box-sizing: border-box;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-check {
  appearance: auto;
  height: 100%;
  accent-color: var(--reddish-brown);
  border: 1px solid var(--brown-grey);
  border-radius: 5px
}

.delete-icon-area {
  height: 45px;
  display: flex;
}

.delete-icon {
  width: 100%;
  height: auto;
}

/* できたこと編集ページ用 */
.reference-todo-container,
.done-edit-form-container {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border: 3px solid var(--reddish-brown);
  border-radius: 30px;
  box-shadow: 10px 10px 10px var(--brown-grey);
}

.reference-todo-container {
  padding: 20px 0;
}

.done-edit-form-container {
  margin-top: 15px;
  padding: 30px;
}

.input-time-area {
  width: 150px;
  height: 50px;
}

/* ==================================
  目標、メモ、記事ストックの閲覧ページ設定
================================== */

.detail-link-td {
  width: 60px;
  padding: 0 !important;
}

.detail-link-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-link-button {
  padding: 3px 8px;
  font-weight: bold;
  text-decoration: none;
  color: var(--reddish-brown);
  background-color: var(--pink-beige);
  border: 2px solid var(--reddish-brown);
  border-radius: 8px;
}

.border-line-area {
  padding-top: 20px;
  padding-bottom: 10px;
}

.border-line {
  border: 1px solid var(--reddish-brown);
}

/* =======================
  ダッシュボードページの設定
======================= */

/* 共通設定 */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 800px;
  margin: 130px auto 50px auto;
  color: var(--reddish-brown);
}

/* ダッシュボードトップページ用 */
.top-container, .bottom-container, .middle-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.total-awesome-container, .total-time-container,
.learning-time-link-container,
.total-days-container, .streak-days-container,
.illustration-graph-container {
  box-sizing: border-box;
  width: 350px;
  height: 250px;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  background-color: white;
  border: 3px solid var(--reddish-brown);
  border-radius: 30px;
  box-shadow: 10px 10px 10px var(--brown-grey);
}

.learning-time-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-graph-area {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  border: 8px dotted var(--pink-beige);
  border-radius: 15px;
}

.illustration-graph-area img {
  box-sizing: border-box;
  width: 100%;
  padding-left: 5px;
}

.learning-time-link-area {
  text-align: center;
  margin: 35px auto;
}

.total-awesome-container span,
.total-time-container span,
.total-days-container span,
.streak-days-container span,
.graph-area p {
  font-size: 18px;
  font-weight: bold;
}

.total-awesome-area, .total-time-area,
.total-days-area, .streak-days-area,
.last-date-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-date-area {
  gap: 10px;
}

.total-awesome-area span, .total-time-area span,
.total-days-area span, .streak-days-area span,
.last-date-area sapan {
  padding-top: 30px;
  font-size: 16px;
}

.total-awesome, .total-hours,
.total-minutes, .total-days, .streak-days {
  font-family: var(--highlight-font-set);
  font-size: 64px;
  font-weight: bold;
  color: var(--bordeaux);
  -webkit-text-stroke: 1px var(--bordeaux);
  margin: 10px;
}

.streak-days {
  margin-bottom: 0px;
}

.last-date {
  font-size: 16px;
  font-weight: bold;
  color: var(--bordeaux);
}

/* 学習時間グラフページ用 */
.graphs-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.graph-area {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 30px;
  background-color: white;
  border: 3px solid var(--reddish-brown);
  border-radius: 30px;
  box-shadow: 10px 10px 10px var(--brown-grey);
}

.graph-area canvas {
  margin: 30px;
}

.back-link {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.link-area{
  margin: 15px;
}

.all-tag-link {
  color: inherit;
}

/* 全タグ別学習ブラフページ用 */
.all-tag-container {
  box-sizing: border-box;
  width: 100%;
}

/* ============
  Tagifyの設定
============ */

.tagify {
  gap: 5px;
  width: 100%;
  min-height: 50px;
  padding: 5px 15px;
  font-size: 14px;
  color: var(--olive);
  background-color: var(--pink-cream);
  --tag-text-color: var(--olive);
  --tag-text-color--edit: var(--olive);
  --tag-border-radius: 0;
  --tag-pad: 0 10px 0 15px;
  --tag-inset-shadow-size: 0;
  align-content: center;
  border: 1px solid var(--brown-grey);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tagify__tag {
  height: 30px;
  margin-inline: 0;
  margin-block: 0;
  background-color: var(--mint);
  border: 1px solid var(--mint);
  border-radius: 20px;
}

.tagify__dropdown, .tagify__dropdown__wrapper {
  border: 1px solid var(--brown-grey);
}

.tagify__dropdown__item {
  font-size: 14px;
  color: var(--olive);
}

.tagify__dropdown__item--active {
  background-color: var(--mint);
}

/* ==============
  EasyMDEの設定
============== */

.editor-toolbar {
  margin-top: 5px;
  padding: 3px 5px;
  background-color: var(--cream);
  border-top: 1px solid var(--brown-grey);
  border-left: 1px solid var(--brown-grey);
  border-right: 1px solid var(--brown-grey);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.EasyMDEContainer {
  box-sizing: border-box;
  width: 100%;
}

.EasyMDEContainer .CodeMirror {
  color: var(--reddish-brown);
  background-color: var(--pink-cream);
  padding: 15px;
  border: 1px solid var(--brown-grey);
  border-radius: 0px;
}

.editor-preview {
  padding: 15px;
}

.editor-statusbar {
  font-size: 10px;
  padding: 5px 10px;
  background-color: var(--cream);
  border-left: 1px solid var(--brown-grey);
  border-right: 1px solid var(--brown-grey);
  border-bottom: 1px solid var(--brown-grey);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}