<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<head>
  <meta charset="UTF-8">
  <title>ダッシュボード</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div>
    <header th:replace="~{fragments/header::header}"></header>
  </div>

  <div class="sidebar" th:replace="~{fragments/sidebar::sidebar}"></div>

  <div class="dashboard-container">
    <div class="top-container">
      <div class="total-awesome-container">
        <p>これまでに貯めた<span>えらい！</span>の数</p>
        <div class="total-awesome-area">
          <p class="total-awesome" th:text="${dashboardDto.totalAwesome}"></p>
          <span>えらい！</span>
        </div>
      </div>
      <div class="total-time-container">
        <p>これまでの<span>累計学習時間</span></p>
        <div class="total-time-area">
          <p class="total-hours" th:text="${dashboardDto.learningTimeDto.totalHours}"></p>
          <span>時間</span>
          <p class="total-minutes" th:text="${dashboardDto.learningTimeDto.totalMinutes}"></p>
          <span>分</span>
        </div>
        <a th:href="@{/dashboard/chart/learning_time}"
           class="learning-time-link">学習時間を<span>グラフ</span>で確認する</a>
      </div>
    </div>

    <div class="bottom-container">
      <div class="total-days-container">
        <p>これまでの<span>累計学習日数</span></p>
        <div class="total-days-area">
          <p class="total-days" th:text="${dashboardDto.learningDaysDto.totalDays}"></p>
          <span>日</span>
        </div>
      </div>
      <div class="streak-days-container">
        <p>現在の<span>連続学習日数</span></p>
        <div class="streak-days-area">
          <p class="streak-days" th:text="${dashboardDto.learningDaysDto.streakDays}"></p>
          <span>日間</span>
        </div>
        <div class="last-date-area">
          <p>最後に学習した日: </p>
          <p class="last-date" th:text="${dashboardDto.learningDaysDto.lastLearnedDate}"></p>
        </div>
      </div>
    </div>
  </div>
</body>