<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>目標リスト</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div>
    <header th:replace="~{fragments/header :: header}"></header>
  </div>

  <div class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></div>

  <div class="main-container">
    <!-- まだ登録されていない場合 -->
    <th:block th:unless="${goalResponseDtoList != null}">
      <div class="empty-content">
        <p th:text="#{unregistered.action('目標')}"></p>
        <div class="link-button-area">
          <a th:href="@{/goal/detail/edit/0}"
             th:text="#{register.first.action('目標')}"
             class="new-registration-link"></a>
        </div>
      </div>
    </th:block>

    <!-- 登録されている場合 -->
    <th:block th:if="${goalResponseDtoList != null}">
      <div class="add-link-button-area">
        <a th:href="@{/goal/detail/edit/0}"
           th:text="#{register.additional.action('目標')}"
           class="additional-registration-link"></a>
      </div>
      <div class="border-line-area">
        <div class="border-line"></div>
      </div>
      <div class="action-content">
        <div class="content-inner">
          <div class="inner-title">目標リスト</div>
          <div th:each="goal : ${goalResponseDtoList}">
            <table class="view-table">
              <tr>
                <th scope="row" class="view-row-th">目標タイトル</th>
                <td th:text="${goal.title}"></td>
                <td rowspan="3" class="detail-link-td">
                  <div class="detail-link-area">
                    <a th:href="@{/goal/detail/{id}(id=${goal.id})}"
                       class="detail-link-button">詳細</a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row" class="view-row-th">達成状況</th>
                <td th:text="${goal.statusLabel}"></td>
              </tr>
              <tr>
                <th scope="row" class="view-row-th">タグ</th>
                <td class="tag-td">
                  <div class="tag-area">
                          <span th:each="tag : ${goal.tagList}"
                                th:text="${tag}" class="tag-badge"></span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </th:block>
  </div>
</body>