<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>

  <body>
    <div th:with="isVisible=${true}">
      <header th:replace="~{fragments/header::header}"></header>
    </div>

    <div class="login-container">
      <form class="form-group"
            th:action="@{/login}"
            method="post">

        <div class="message-area">
          <div class="success-message"
               th:if="${successMessage != null}"
               th:text="${successMessage}"></div>
          <div class="failure-message"
               th:if="${failureMessage != null}"
               th:text="${failureMessage}"></div>
          <div class="failure-hint"
               th:if="${failureHint != null}"
               th:text="${failureHint}"></div>
        </div>

        <table class="input-table">
          <tr>
            <th scope="row" class="input-row-th">ログインID</th>
            <td class="blank-cell"></td>
            <td>
              <input type="text" class="input-area"
                     name="loginId"
                     th:placeholder="#{login.placeholder}" required />
            </td>
          </tr>
          <tr class="blank-row"></tr>
          <tr>
            <th scope="row" class="input-row-th">パスワード</th>
            <td class="blank-cell"></td>
            <td>
              <input type="password" class="input-area"
                     name="password"
                     th:placeholder="#{login.placeholder}" required />
            </td>
          </tr>
        </table>

        <div class="button-area">
          <button type="submit" class="login-button">ログイン</button>
        </div>
      </form>

      <form class="form-group"
            th:action="@{/guest_login}"
            method="post">
        <div class="form-border"></div>
        <button type="submit" class="login-button">ゲストログイン</button>
      </form>

      <div class="form-border"></div>
      <p>または</p>
      <div class="link-button-area">
        <a th:href="@{/signup}" class="signup-link">新規登録</a>
      </div>
    </div>
  </body>
</html>