<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>メモリスト</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>

  <body>
    <div>
      <header th:replace="~{fragments/header::header}"></header>
    </div>

    <div class="sidebar" th:replace="~{fragments/sidebar::sidebar}"></div>

    <div class="main-container">
      <!-- 登録されていない場合 -->
      <th:block th:if="${#lists.isEmpty(memoResponseDtoList)}">
        <div class="empty-content">
          <p th:text="#{unregistered.action('メモ')}"></p>
          <div class="link-button-area">
            <a th:href="@{/memo/detail/edit/0}"
               th:text="#{register.first.action('メモ')}"
               class="new-registration-link"></a>
          </div>
        </div>
      </th:block>

      <!-- 登録されている場合 -->
      <th:block th:unless="${#lists.isEmpty(memoResponseDtoList)}">
        <div class="add-link-button-area">
          <a th:href="@{/memo/detail/edit/0}"
             th:text="#{register.additional.action('メモ')}"
             class="additional-registration-link"></a>
        </div>
        <div class="border-line-area">
          <div class="border-line"></div>
        </div>

        <div class="action-message-area">
          <div class="success-message"
               th:if="${successMessage != null}"
               th:text="${successMessage}"></div>
        </div>

        <div class="action-content">
          <div class="action-content-inner">
            <div class="inner-title">メモリスト</div>
            <div th:each="memo : ${memoResponseDtoList}">
              <table class="view-table">
                <tr>
                  <th scope="row" class="view-row-th">メモタイトル</th>
                  <td th:text="${memo.title}"></td>
                  <td rowspan="3" class="detail-link-td">
                    <div class="detail-link-area">
                      <a th:href="@{/memo/detail/{id}(id=${memo.id})}"
                         class="detail-link-button">詳細</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="view-row-th">タグ</th>
                  <td class="tag-td">
                    <div class="tag-area">
                      <span th:each="tag : ${memo.tagList}"
                            th:text="${tag}" class="tag-badge"></span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </body>
</html>