<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div>
    <header th:replace="~{fragments/common-header :: common-header}"></header>
  </div>

  <div class="sidebar" th:replace="~{fragments/common-sidebar :: common-sidebar}"></div>

  <div class="todo-container">
    <div class="date-index">
      <a th:href="@{/todo/{date}(date=${prevDate})}">◀︎ 前の日</a>
        <form method="get" th:action="@{/todo}" style="display:inline;">
          <input type="date" name="date" th:value="${dailyTodoDto.date}">
          <button type="submit">移動</button>
        </form>
      <a th:href="@{/todo/{date}(date=${nextDate})}">次の日 ▶︎</a>
    </div>

    <div class="todo-inner">
      <div class="todo-date">
        <p th:text="${formattedDate}"></p>
      </div>

      <!-- まだ登録されていない場合 -->
      <th:block th:if="${!hasTodoContent}">
        <div class="empty-todo">
          <p>まだ登録されていません。</p>
          <div class="register-todo">
            <a th:href="@{/todo/edit/{date}(date=${dailyTodoDto.date})}">新規登録</a>
          </div>
        </div>
      </th:block>

      <!-- 登録されている場合 -->
      <th:block th:if="${hasTodoContent}">
        <div class="current-todo">
          <div class="todo-header">
            <div class="at-info">
              <p th:text="'登録日時: ' + ${dailyTodoDto.registeredAt}"></p>
              <p th:if="${dailyTodoDto.updatedAt} != null" th:text="'更新日時: ' + ${dailyTodoDto.updatedAt}"></p>
            </div>

            <div class="edit-delete">
              <a th:href="@{/todo/edit/{date}(date=${dailyTodoDto.date})}">
                <img th:src="@{/image/edit-icon.svg}" alt="編集">
              </a>
              <a href="#"
                 onclick="if(confirm('この日のやることリストを削除しますか？')) {
                              document.getElementById('deleteDailyTodo').submit();
                           } return false;">
                <img th:src="@{/image/delete-icon.svg}" alt="削除">
              </a>
            </div>
          </div>

          <div class="todo-content">
            <div th:each="content, iterStat : ${dailyTodoDto.contentList}">
              <ul>
                <input type="hidden" th:field="${dailyTodoDto.idList[__${iterStat.index}__]}" />
                <li class="content"
                    th:if="${content != null and !#strings.isEmpty(content)}"
                    th:text="${dailyTodoDto.contentList[__${iterStat.index}__]}"></li>
              </ul>
            </div>
          </div>
        </div>

        <form id="deleteDailyTodo" th:action="@{/todo/{date}(date=${dailyTodoDto.date})}" method="post" style="display:none;">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
        </form>
      </th:block>
    </div>
  </div>
</body>