<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>ホーム</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>

  <body>
    <div>
      <header th:replace="~{fragments/header::header}"></header>
    </div>

    <div class="sidebar" th:replace="~{fragments/sidebar::sidebar}"></div>

    <div class="main-menu-container">
      <div class="main-menu-inner">
        <h2 class="grid-title">学習アクション</h2>
        <div class="learning-action-grid">
          <div class="task-card">
            <a th:href="@{/todo/{date}(date=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')})}"
               class="card">
              <img th:src="@{/image/todo-icon.svg}" alt="やること" class="card-image">
              <p class="card-title">やること</p>
              <p class="card-text">日付別のやることリストを確認・登録 / 編集・削除することができます。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>
          <div class="task-card">
            <a th:href="@{/done/{date}(date=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')})}"
               class="card">
              <img th:src="@{/image/done-icon.svg}" alt="できたこと" class="card-image">
              <p class="card-title">できたこと</p>
              <p class="card-text">日付別のできたことリストを確認・登録 / 編集・削除することができます。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>

          <div class="action-card">
            <a th:href="@{/goal}" class="card">
              <img th:src="@{/image/goal-icon.svg}" alt="目標" class="card-image">
              <p class="card-title">目標</p>
              <p class="card-text">目標リストを確認・登録 / 編集・削除することができます。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>
          <div class="action-card">
            <a th:href="@{/memo}" class="card">
              <img th:src="@{/image/memo-icon.svg}" alt="メモ" class="card-image">
              <p class="card-title">メモ</p>
              <p class="card-text">メモリストを確認・登録 / 編集・削除することができます。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>
          <div class="action-card">
            <a th:href="@{/article_stock}" class="card">
              <img th:src="@{/image/article-icon.svg}" alt="記事ストック" class="card-image">
              <p class="card-title">記事ストック</p>
              <p class="card-text">記事ストックリストを確認・登録 / 編集・削除することができます。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>
        </div>

        <h2 class="grid-title">ユーザー情報</h2>
        <div class="user-info-grid">
          <div class="other-card">
            <a th:href="@{/dashboard}" class="card">
              <img th:src="@{/image/dashboard-icon.svg}" alt="ダッシュボード" class="card-image">
              <p class="card-title">ダッシュボード</p>
              <p class="card-text">獲得したえらい！ポイント、学習日数、学習時間を数値やグラフで確認することができます。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>
          <div class="other-card">
            <a th:href="@{/mypage}" class="card">
              <img th:src="@{/image/member-icon.svg}" alt="マイページ" class="card-image">
              <p class="card-title">マイページ</p>
              <p class="card-text">ユーザー登録情報の確認・変更、アカウントの削除を行うことができます。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>
          <div class="other-card">
            <a href="#"
               onclick="if(confirm('ログアウトしますか？')) {
                  document.getElementById('logoutForm').submit();
               } return false;"
               class="card">
              <img th:src="@{/image/logout-icon.svg}" alt="ログアウト" class="card-image">
              <p class="card-title">ログアウト</p>
              <p class="card-text">アプリからログアウトします。</p>
              <p class="card-click">CLICK</p>
            </a>
          </div>
        </div>

          <form id="logoutForm" th:action="@{/logout}"
                method="post" style="display:none;">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>