<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<head>
  <meta charset="UTF-8">
  <title>ダッシュボード/タグ別学習時間（累計・全件）</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div>
    <header th:replace="~{fragments/header :: header}"></header>
  </div>

  <div class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></div>

  <div class="dashboard-container">
    <div class="all-tag-container">
      <div class="graph-area">
        <div class="back-indicator">
          <a th:href="@{/dashboard}" class="back-link">
            <img th:src="@{/image/back-icon.svg}" alt="戻る">
            <span>戻る</span>
          </a>
        </div>
        <p>タグ別学習時間（累計・全件）</p>
        <canvas id="allTagTime"></canvas>
      </div>
    </div>

    <!-- Chart.js用にデータだけ埋め込み -->
    <script th:inline="javascript">
      /*<![CDATA[*/
        const tagTimeList = /*[[${tagTotalTimeList}]]*/ [];
      /*]]>*/
    </script>

    <!-- Chart.jsの設定はJSで行う -->
    <script th:src="@{/js/dashboard-all-tag-chart.js}"></script>
  </div>
</body>